html{
	font-family:Arial, Helvetica, sans-serif;
}
body{
	background:url(../images/bg-body.jpg) repeat;
	margin:0;
}
img{
	border:0;
}
#background{
	background-color:#050404;
	display:block;
	position:absolute;
	left:0;
	top:0;
}
/** Contents **/
#contents{
    width: 50%;
	padding-top:60px;
    margin: 0 auto;
}
#contents ul.images{
	display:inline-block;
	list-style-type:none;
	width:622px;
	margin:0 auto 15px;
}
#contents ul.images li{
	float:left;
	background-position:0 0;
	height:130px;
	width:130px;
	margin:2px 5px 13px;
	padding:7px 7px 7px;
    background:url(../images/interface.gif) no-repeat;
}
